body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #1e3a8a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    font-size: 28px;
    font-weight: bold;
}

/* Layout verticale */
.main {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* PARTE SUPERIORE: CAMPO */
.field-container {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* old 
.court {
    position: relative;
    width: 65%;
    height: 85%;
    background: #fde68a;
    border: 4px solid #92400e;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.court::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: #92400e;
    transform: translateX(-50%);
}

.half {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.half.left {
    background: rgba(37, 99, 235, 0.1);
}

.half.right {
    background: rgba(220, 38, 38, 0.1);
}*/


/* new*/
.court {
    display: flex;
    width: 65%;
    height: 85%;
    background: #fde68a;
    border: 4px solid #92400e;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.half.left {
    background: rgba(37, 99, 235, 0.1);
}

.half.right {
    background: rgba(220, 38, 38, 0.1);
}

.half-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.scorebar {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 10px;
    margin: 5px;
}

.scorebar.left {
    justify-content: flex-end;
}

.scorebar.right {
    justify-content: flex-start;
}

.set-score {
    width: 110px;
    height: 110px;
    background: #2563eb;
    color: white;
    font-size: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-score {
    width: 80px;
    height: 80px;
    background: #0f766e;
    color: white;
    font-size: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.half {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
}




.player.selected {
    outline: 3px solid #22c55e;
    outline-offset: 2px;
}

.player {
    position: relative;
    cursor: pointer;

    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px;
    color: white;
}

.player .badges {
    position: absolute;
    top: -8px;
    left: -8px;
    display: flex;
}

/* la palla */
.player .ball {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #f59e0b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.selected-out {
    position: relative;
    cursor: pointer;

    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.selected-out .cards {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.selected-out .card {
    width: 22px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.selected-out .card.yellow {
    background: gold;
}

.selected-out .card.red {
    background: #dc2626;
}


.player .cards {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.player .card {
    width: 22px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.player .card.yellow {
    background: gold;
}

.player .card.red {
    background: #dc2626;
}

.left .player {
    background: #2563eb;
}

.right .player {
    background: #dc2626;
}

.selected-out {
    cursor: pointer;

    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.left .selected-out {
    background: #2563eb;
}

.right .selected-out {
    background: #dc2626;
}

/* PARTE INFERIORE: CONTROLLI old
.controls {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.panel {
    background: white;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 12px;
}

.bench {
    border-right: 1px solid #e5e7eb;
    padding-right: 8px;
}

.events {
    padding-left: 8px;
}

.panel h3 {
    margin-top: 0;
}

.panel button {
    width: auto;
    margin: 0 6px 6px 0;
    padding: 6px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}*/

.controls {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* 25% | 50% | 25% */
    height: 100%;
}

.bench-quarter {
    /*background: #0b2535;*/
    background: white;
    padding: 10px;
    overflow-y: auto;
}

.events-quarter {
    /*background: #0b2535;*/
    background: white;
    padding: 10px;
    overflow-y: auto;
}

.bench-quarter.left {
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.bench-quarter.right {
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.bench-player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.player-name {
    color: black;
    font-size: 16px;
    white-space: nowrap;
}


.events {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
}

.events-row {
    display: grid;
    gap: 10px;
    /* spazio tra i pulsanti */
    flex: 1;
    padding: 6px 0;
    /* spazio sopra e sotto ogni riga */
}


.events-row.three {
    grid-template-columns: repeat(3, 1fr);
}

.events-row.two {
    grid-template-columns: repeat(2, 1fr);
}

.events button {
    width: 100%;
    height: 100%;
    /* riempie la cella */
    font-size: 1.2rem;
    border-radius: 12px;
    border: none;
    background: #1e3a5f;
    color: white;
    cursor: pointer;
}

.events button:hover {
    background: #2563eb;
}


/* Cartellini old 
.card-yellow {
    box-shadow: 0 0 0 3px gold;
}

.card-red {
    box-shadow: 0 0 0 3px red;
}*/

/* Statistiche*/

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-overlay.hidden {
    display: none;
}

.popup {
    width: 90%;
    height: 90%;
    background: #0b1f2a;
    border-radius: 12px;
    overflow: auto;
    position: relative;
}

.popup .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}



.stat-row {
    margin-bottom: 18px;
}

.stat-label {
    text-align: center;
    margin-bottom: 6px;
    font-weight: bold;
}

.stat-values {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 4px;
}

.stat-values .winner {
    color: #e11d48;
    font-weight: bold;
}

.bar {
    position: relative;
    height: 10px;
    background: #102a3a;
    border-radius: 6px;
    overflow: hidden;
}

.bar-center {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #1e3a4c;
}

.bar-left,
.bar-right {
    position: absolute;
    top: 0;
    bottom: 0;
}

.bar-left {
    right: 50%;
    background: #e5e7eb;
}

.bar-right {
    left: 50%;
    background: #e11d48;
}